body {
    font-family: Arial, sans-serif;
    background-color: #badce7;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    text-align: left;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#output {
    padding-top: 5px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto; 
    width: 80%; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the table header */
#scanned-items-table th {
    background-color: #14476f; /* Light grey background */
    color: #ffffff; /* Dark text color */
    padding: 10px;
    text-align: left;
}

/* Style the Name column */
#scanned-items-table td:first-child {
    background-color: #e9f2f6; /* Light blue background */
    color: #000; /* Black text */
    padding: 10px;
}

/* Style the Barcode column */
#scanned-items-table td:last-child {
    color: #000; /* Black text */
    padding: 10px;
}

/* Add general table styling */
#scanned-items-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

#scanned-items-table th, #scanned-items-table td {
    border: 1px solid #e9e7e7; /* Add a border around cells */
}

/* Add hover effect for rows */
#scanned-items-table tr:hover {
    background-color: #f5f5f5; /* Light grey on hover */
}

button {
    background-color: #1c6298; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for size */
    font-size: 16px; /* Increase font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

button:hover {
    background-color: #4191c0; /* Darker green on hover */
    transform: scale(1.02); /* Slightly increase size on hover */
}

button:active {
    background-color: #14476f; /* Even darker green when clicked */
    transform: scale(0.98); /* Slightly shrink on click */
}

button:disabled {
    background-color: #ccc; /* Grey background when disabled */
    cursor: not-allowed; /* Not-allowed cursor for disabled button */
    box-shadow: none; /* Remove shadow */
}

/* Optional: Add spacing between buttons */
button + button {
    margin-left: 10px; /* Add space between adjacent buttons */
    margin-bottom: 10px;
}

/* Style the input field to match the button size and style */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 200px; /* Match button size */
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4191c0; /* Green border when focused */
    outline: none;
}

div {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}

.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #badce7;
    z-index: 1000;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 0; /* Remove margins */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container h1 {
    margin: 0 0px;
}
.header-container img {
    height: 120px; /* Adjust the height as needed */
}